.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 20px);
    grid-template-rows: repeat(var(--rows), 20px);
    gap: 2px;
    height: 500px;
    width: auto;
}

.square {
    border: 1px;
    border-style: solid;
    border-color:black;
}
